<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Home</title>
</head>
<body class="flex flex-col gap-1 h-[100vh]">
    <nav class="border-b-2 border-green-500 p-1">
        <ul class="flex gap-2">
            <li class="basis-[75%] font-black text-3xl p-2 text-green-600"><a href="/">TaskApp</a></li>
            <div class="flex gap-2">
                <li class="font-bold text-xl border-b-2 pt-4 rounded-b-md p-2 text-green-600 hover:scale-[1.02]"><a href="login/">Login</a></li>
                <li class="font-bold text-xl border-b-2 pt-4 rounded-b-md p-2 text-green-600 hover:scale-[1.02]"><a href="signup/">SignUp</a></li>
            </div>
        </ul>
    </nav>
    <main class="w-full h-full">
        <section class="flex flex-col">
            <h2 class="self-center font-bold text-white bg-green-600 rounded-md p-1">Bienvenido a tu aplicacion de gestion de tareas</h2>

        </section>
    </main>
    <footer class="h-20 bg-green-600 flex flex-col gap-2">
        <h2 class="self-center font-black text-white text-xl">Redes y repositorio</h2>
        <div class="flex gap-3 self-center">
            <a class="rounded-md bg-white p-1 text-green-600 font-bold hover:scale-[1.02] hover:bg-white/80" 
            href="https://github.com/Cdev31">Github</a>
            <a class="rounded-md bg-white p-1 text-green-600 font-bold hover:scale-[1.02] hover:bg-white/80" 
            href="">Linkedin</a>
        </div>
       <p class="bg-white w-full text-green-600 font-bold text-center">Proyecto creado por Kalet Chavez</p>
    </footer>
</body>
</html>