{% extends '_base.html' %}

{% load compress %}
{% load static %}

{% block content %}
<section class="h-[80vh] overflow-y-auto">
    <ul class="flex flex-col gap-1 m-1 justify-center ">
        <a 
        href="/"
        class="border-2 rounded-full h-8 w-8 pl-[2px] pt-[2px] cursor-pointer ml-2 border-black/80 hover:scale-[1.02]">
            <i class="material-symbols-outlined w-full h-full text-black/80">
            arrow_back
            </i>
        </a>
        <h2 class="text-3xl text-green-900 self-center font-semibold">Mis Tareas</h2>
        {% if tasks|length == 0 %}
        <p class="text-lg self-center animate-bounce mt-10 text-black/80  font-semibold">Aun no hay tareas</p>
        {% else  %}
            {% for task in tasks %}
            <a href="/task/{{ task.id }}/">
                <li class="flex flex-col sm:flex-row gap-2 border-b-2 self-center p-1 rounded-md hover:scale-[1.02] cursor-pointer">
                    <figure class=" sm:w-48 h-44">
                        <img 
                        class="w-full h-full rounded-md"
                        src="{{ task.image }}" />
                    </figure>
                    <div class="flex flex-col gap-1">
                        <p class="text-sm flex-end text-white bg-green-600 rounded-md self-end p-1 font-bold">{{ task.created }}</p>
                    <div class="flex">
                            <h2 class="rounded-md p-1 text-black/90 text-2xl font-black">{{ task.title }}</h2>
                            {% if task.done != True %}
                            <span class="text-sm self-center font-bold text-red-700">
                            (sin realizar)
                            </span> 
                            {% else %}
                            <span class="text-sm self-center font-bold text-green-700">
                            (realizada)
                            </span> 
                            {% endif %}     
                    </div>
                        <p class="flex font-medium mt-2 text-black/80">
                            {{ task.description }}
                        </p>
                        <p class="flex gap-1 text-sm font-medium text-black/80">
                            <span class="font-semibold">fecha de realizacion:</span>
                            <span>{{ task.date_completed }}</span>
                        </p>
            </a>        
                        <div class="flex gap-1 m-1 self-end">
                            <button class="p-1 eliminated-task text-sm lg:text-normal text-red-600 font-bold rounded-md border-2 border-red-600 hover:scale-[1.02] hover:bg-red-600/50">Eliminar</button>
                            <input class="hidden" value="{{ task.id }}"/>
                            <button class="p-1 completed-task text-sm lg:text-normal text-blue-600 font-bold rounded-md border-2 border-blue-600 hover:scale-[1.02] hover:bg-blue-600/50">Finalizar</button>
                            <input class="hidden" value="{{ task.id }}"/>
                        </div>
                    </div>
                </li>
            {% endfor %}
        {% endif %}
    </ul>
</section>
<button  class="bg-green-600 fixed right-2 rounded-full hover:bg-green-900/80 bottom-28 h-12 w-12  
text-center text-3xl font-bold hover:animate-spin">
    <a href="/task/create">
        <i class="material-icons text-white ">add</i>
    </a>
</button>

<div id="eliminated-task-modal" class="absolute hidden w-full flex-col h-full bg-black/20 top-0 justify-center">
    <div id="close-eliminated-modal" class=" w-full flex flex-col text-red-700 cursor-pointer hover:scale-[1.02]">
        <i class="material-symbols-outlined self-end pr-10">
          cancel
        </i>
    </div>
    <div class="bg-white self-center h-56 p-1  flex flex-col gap-2 justify-center rounded-md">
        <h2 class="text-xl mb-5 text-black/70 self-center font-bold">Deseas eliminar esta tarea?</h2>
        <p class="text-sm text-black/70 font-semibold self-center">La tarea se eliminara permanentemente</p>
        <span class="text-sm font-bold text-red-600 self-center">{{ error }}</span> 
        <form method="get" class="w-full">
            <button 
            class="confirmation-eliminated font-bold text-white bg-red-600 rounded-md h-10 w-full 
            hover:scale-[1.02]">Confirmar</button>
            <input id="task-id" type="text" class="hidden" />
        </form>
    </div>
</div>

<div id="completed-task-modal" class="absolute w-full hidden flex-col h-full bg-black/20 top-0 justify-center">
    <div id="close-completed-eliminated-modal" class=" w-full flex flex-col text-red-700 cursor-pointer hover:scale-[1.02]">
        <i class="material-symbols-outlined self-end pr-10">
          cancel
        </i>
    </div>
    <div class="bg-white self-center h-56 p-1  flex flex-col gap-2 justify-center rounded-md">
        <h2 class="text-xl mb-5 text-black/70 self-center font-bold">Deseas completar esta tarea?</h2>
        <p class="text-sm text-black/70 font-semibold self-center">La tarea se completara permanentemente</p>
        <span class="text-sm font-bold text-red-600 self-center">{{ error }}</span> 
        <form method="get" class="w-full">
            <button 
            class="confirmation-completed font-bold text-white bg-green-600 rounded-md h-10 w-full 
            hover:scale-[1.02]">Confirmar</button>
            <input id="task-completed-id" type="text" class="hidden" />
        </form>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/openDeleteTaskModal.js' %}"></script>
<script src="{% static 'js/openDoneTaskModal.js' %}"></script>

{% endblock %}

